@model DealerSearch
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchDealership" method="get">
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" required />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="SearchDealership">Search</button>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" required />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="SearchDealership">Search</button>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" required />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="SearchDealership">Search</button>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" required />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" asp-action="SearchDealership">Search</button>
            </div>
        </form>
    </div>
</div>